<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Handle Next.js routing -->
        <rule name="DynamicContent">
          <match url="/*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- Compress the response -->
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    
    <!-- Handle CORS if needed -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Powered-By" value="Next.js"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
